<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
      <div class="left">
        <img src="/img/myoy.jpg" class="main_img" alt="">
          <h3>Get your weather <br> information here..!</h3>
          {{>footer}}
      </div>
      <div class="left">
        {{>header}}
        <!-- <img class="portrait" src="/img/myoy.jpg"> -->
        <p>Hey There, </p>
        <p>My Name is Parag Raje</p>
        <p>I am full stack web developer..!</p>
        <p>contact me at</p>
        <p>+91-7841899797</p>
      </div>

    </div>
</body>

</html>
