<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
      <div class="left">
        <img src="/img/myoy.jpg" class="main_img" alt="">
          <h3>Get your weather <br> information here..!</h3>
      </div>

        <div class="left">
          {{>header}}
          <!-- <p>{{helpText}}</p> -->
          <p>Embeds are no longer available. Maps, Forecast, Sports and existing Embeds will be shutdown on July 1, 2020.</p>
          <p>You can change the units by tapping “Settings” in the app.</p>
          <p>All gusts are a type of wind. A gust is a sudden increase of the wind’s speed that lasts no more than 20 seconds. This usually occurs when wind speeds reach a peak of at least 16 knots. A wind gust usually comes in 2-minute intervals.</p>
        </div>

    </div>

    {{>footer}}
</body>

</html>
