<header>
    <div class="main__head">
      <h1 class="main__head-ttl">{{title}}</h1>
      <img src="/img/sun.png" class="cld__icn" alt="">

    </div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
